{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Profil de {{ app.user.username }}</h1>

        {% include 'account/_user_form.html.twig' %}
    </div>

{% endblock %}
