{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}

    <h1 class="text-center">Inscription</h1>

    {% include 'account/_user_form.html.twig' %}

{% endblock %}



