{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer une commande</h1>

        {% include 'admin/commandes/_commandes_form.html.twig' %}
    </div>

{% endblock %}

{% block title %}
    Nouvelle commande
{% endblock %}

