{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <div class="container">
        <h1>Commandes</h1>

        <table class="table">
            <tr>
                <th>ID de commande</th>
                <th>Client</th>
                <th>Produit(s)</th>
                <th>Facture </th>
            </tr>
        </table>
    </div>
{% endblock %}
