{% extends 'base.html.twig' %}

{% block body %}
    <h1>A propos de nous</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida cursus lacinia. Nullam cursus libero ac nibh consectetur, vel rhoncus nulla posuere. Vivamus ipsum enim, dignissim in risus sed, dapibus blandit elit. Fusce vel eleifend odio. Donec pretium nunc ornare massa dictum, vehicula euismod justo venenatis. Ut est ipsum, gravida ac vestibulum sagittis, rutrum ac odio. Sed et pellentesque leo, vitae blandit purus. Cras facilisis auctor tellus eu ullamcorper. Aliquam dignissim varius orci nec dictum. Praesent fermentum ligula nisi, vitae pharetra justo ullamcorper ut. Quisque semper arcu in augue facilisis consequat. Morbi euismod ut tortor ut suscipit. Integer ultricies nisl vel nibh bibendum vulputate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida cursus lacinia. Nullam cursus libero ac nibh consectetur, vel rhoncus nulla posuere. Vivamus ipsum enim, dignissim in risus sed, dapibus blandit elit. Fusce vel eleifend odio. Donec pretium nunc ornare massa dictum, vehicula euismod justo venenatis. Ut est ipsum, gravida ac vestibulum sagittis, rutrum ac odio. Sed et pellentesque leo, vitae blandit purus. Cras facilisis auctor tellus eu ullamcorper. Aliquam dignissim varius orci nec dictum. Praesent fermentum ligula nisi, vitae pharetra justo ullamcorper ut. Quisque semper arcu in augue facilisis consequat. Morbi euismod ut tortor ut suscipit. Integer ultricies nisl vel nibh bibendum vulputate.</p>
{% endblock %}

