{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }
</style>

<div class="example-wrapper">
    <h1>ICI LES CONTENUS DU PAGE D'ACCEUIL</h1>

    Voici les compositions du groupe :

    <ul>
        <li>SITE Kombi Toys ( vente des jouets)</li>
        <li>Florent, Radoclav, Ravalison, Boubacar</li>
    </ul>
</div>
{% endblock %}
