{% extends 'base.html.twig' %}

{% block title %}
    Nouveau Produit
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un produit</h1>

        {# On inclus le formulaire des articles #}
        {% include 'admin/produit/_produit_form.html.twig' %}
    </div>
{% endblock %}