{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Resultat de votre recherche : <em> "{{ produit }}" </em> </h1>

    <ul>
        <li>voici : </li>
        {% for ligne in donnees %}
            <li>{{ ligne.nom }}</li>
            <li>{{ ligne.description }}</li>
            <li>{{  ligne.prix }} €</li>
        {% endfor %}
    </ul>

    </div>

{% endblock %}

